<!--Header Container-->
<app-progress-bar></app-progress-bar>
<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-mini-fab color="primary">
       <mat-icon> menu</mat-icon>
    </button>
   <!--Header Component-->
  <app-header></app-header>
</mat-toolbar>
<!-- Sidebar Container -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" closed>
    <!--Sidenav Component (actual navigation)-->
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--App views (or "pages") will be rendered here-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
