@media screen and (max-width: 500px){
  .mat-form-field {
    width: 100%;
    margin: auto;
  }

  .mat-card-content {
    margin: auto;
  }
}

@media screen and (min-width: 500px){
  .mat-form-field {
    width: 300px;
  }
}

.mat-card-content {
  width: 100%;
  margin: auto;
}


mat-button:hover{
  background: none !important
}
