<!--Chart 2-->
<div style="text-align:center">
<apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title"
></apx-chart>
</div>

<!-- Chart 3 -->
<!-- <div style="display: block;">
 <canvas baseChart width="400" height="400"
             [data]="lineChartData"
             [options]="lineChartOptions"
             [type]="lineChartType"
             (chartHover)="chartHovered($event)"
             (chartClick)="chartClicked($event)"></canvas>
 </div> -->
