.create-account{
  width: 50%;
  margin: auto;
}

.create-account-input {
  width: 350px
}

@media screen and (max-width: 768px) {
  .create-account{
    width: 70%
  }

  .create-account-input {
    width: 300px
  }
}


@media screen and (max-width: 468px) {
  .create-account{
    width: 80%
  }

  .create-account-input {
    width: 100%
  }
}

.form-actions{
  display: block;
  margin-top: 13px;
  line-height: 53px;
}
