.mat-icon {
  height: 40px;
  width: 40px;
}

@media (min-width: 700px) and (max-width: 900px) {
  .panel-general-information {
    width: 30% !important;
  }
}

@media (max-width: 700px) {
  .panel-general-information {
    width: 100% !important;
  }
}
